.w1{
    border: 1px solid #5096E4;
    border-radius: 5px;
    font-size: 20px;
    height: 24px;
    width: 120px;
    outline: none;
}

.w2{
    border: 1px solid #5096E4;
    border-radius: 5px;
    font-size: 20px;
    height: 24px;
    width: 120px;
    outline: none;
}